.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around ;
}
.justify-evenly {
  justify-content: space-evenly ;
}

.g-0 {
  gap: 0;
}
.g-5 {
  gap: 5px;
}
.g-10 {
  gap: 10px;
}
.g-15 {
  gap: 15px;
}
.g-20 {
  gap: 20px;
}
.g-25 {
  gap: 25px;
}
.g-50 {
  gap: 50px;
}